#tours {
    margin: calc(5rem  + 67.2px) auto 5rem;
}
.container .row .col-lg-4 .card {
    margin-bottom: 30px;
}
.container .row .col-lg-4 .card {
    background: white; border: none;
    box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.1);
    transition: all .25s ease;
}
.container .row .col-lg-4 .card:hover {
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0 1rem 3rem 10px rgba(0, 0, 0, 0.4);
}
.container .row .col-lg-4 .card .card-header {
    position: relative; padding: 0; border: none;
    background: transparent;
}
.container .row .col-lg-4 .card .card-picture {
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
    height: 18rem;
}
.container .row .col-lg-4 .card .card-picture .card-picture-overlay {
    background: linear-gradient(to right bottom, #7dd56f, #28b487);
    position: absolute; height: 100%; width: 100%; opacity: .7;
}
.container .row .col-lg-4 .card .card-picture img {
    object-fit: cover; object-position: center;
    height: 100%; width: 100%;
}
.container .row .col-lg-4 .card .card-header h3 {
    text-transform: uppercase; color: white; font-weight: 300;
    position: absolute; right: 1.5rem; bottom: .3rem; line-height: 1.7;
    width: 75%; text-align: right; z-index: 10;
}
.container .row .col-lg-4 .card .card-header h3 span {
    padding: .7rem 1.5rem; box-decoration-break: clone;  
    background: linear-gradient(to bottom right, rgba(125, 213, 111, 0.85), rgba(40, 180, 135, 0.85) );
}

.container .row .col-lg-4 .card .card-body h4 {
    text-transform: uppercase;   color: #777;
    font-size: .75rem; font-weight: 700;
}
.container .row .col-lg-4 .card .card-body p {
    font-style: italic; font-weight: 300; font-size: .92rem;
}
.container .row .col-lg-4 .card .card-body .card-body-data {
    font-weight: 300; height: 5rem;
    position: relative;
}
.container .row .col-lg-4 .card .card-body .card-body-data .data:nth-of-type(1) {
    position: absolute; left: 0;
}
.container .row .col-lg-4 .card .card-body .card-body-data .data:nth-of-type(2) {
    position: absolute; left: 12rem;
}
.container .row .col-lg-4 .card .card-body .card-body-data .data:nth-of-type(3) {
    position: absolute; left: 0; bottom: .5rem;
}
.container .row .col-lg-4 .card .card-body .card-body-data .data:nth-of-type(4) {
    position: absolute; left: 12rem; bottom: .5rem;
}

.container .row .col-lg-4 .card .card-body .card-body-data .data span {
    font-size: .8rem;
}
.container .row .col-lg-4 .card .card-body .card-body-data .data i {
    color: #55c57a; margin-right: .5rem;
}

.container .row .col-lg-4 .card .card-footer {
    background: #f1f1f1; border: 1px solid #f1f1f1;
}
.container .row .col-lg-4 .card .card-footer {
display: flex; justify-content: space-between; align-items: center;
}
.container .row .col-lg-4 .card .card-footer .card-footer-details {
    font-size: .85rem;
}
.container .row .col-lg-4 .card .card-footer .card-footer-details .text {
    font-weight: 300;
}
.container .row .col-lg-4 .card .card-footer .card-footer-details .value {
    font-weight: 700;
}

.container .row .col-lg-4 .card .card-footer .btn-success {
    border-radius: 2rem; text-transform: uppercase;
    padding: .65rem 1.7rem;
}


/* Extra small devices */
@media (max-width: 575.98px) {
    .container .row{
        display: flex; justify-content: center; align-items: center;
    }
    .container .row .col-lg-4 {
        flex-basis: 90%;
    }
    .container .row .col-lg-4 .card .card-header h3 {
        right: 1.5rem; width: 90%; 
    }
    .container .row .col-lg-4 .card .card-header h3 span {
        padding: .7rem 1.5rem;
    }
    .container .row .col-lg-4 .card .card-body .card-body-data .data:nth-of-type(2) {
        left: 8rem;
    }
    .container .row .col-lg-4 .card .card-body .card-body-data .data:nth-of-type(4) {
        left: 8rem;
    }
    
}
    
    
    
/* Small devices */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container .row {
        display: flex; justify-content: center; align-items: center;
    }
    .container .row  .card-body {
        padding: .85rem;
    }
    .container .row .col-lg-4 .card .card-header h3 {
        right: .9rem; width: 100%;
    }
    .container .row .col-lg-4 .card .card-header h3 span {
        padding: .7rem .9rem;
    }
    .container .row .col-lg-4 .card .card-body .card-body-data .data i {
        margin-right: .25rem;
    }
    .container .row .col-lg-4 .card .card-body .card-body-data .data span {
        font-size: .8rem;
    }
    .container .row .col-lg-4 .card .card-body .card-body-data .data:nth-of-type(2) {
        left: 6.4rem;
    }
    .container .row .col-lg-4 .card .card-body .card-body-data .data:nth-of-type(4) {
        left: 6.4rem;
    }
}
    
    
    
/* Medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
}
    
    
    
/* Large devices */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .container .row .col-lg-4 .card .card-header h3 {
        width: 85%; 
    }
    .container .row .col-lg-4 .card .card-body .card-body-data .data:nth-of-type(2) {
        left: 8rem;
    }
    .container .row .col-lg-4 .card .card-body .card-body-data .data:nth-of-type(4) {
        left: 8rem;
    }
}
    
    
    
/* Extra large devices */
@media (min-width: 1200px) { 
     
}